/* Nav Bar */

svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: white;
}

.search-and-filter {
  margin-top: 61px;
}

/* body, html{
  margin:0;
  padding:0;
}

.list-page {
  width: 100%;
  padding: 0;
} */

/* .main-content {

  background-color: #EEEEEE;
} */
